<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profile', article.author.username]">
      @if (article.author.image) {
        <img [src]="article.author.image" alt="" />
      }
    </a>
    <div class="info">
      <a class="author" [routerLink]="['/profile', article.author.username]">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt | date: 'longDate' }}</span>
    </div>

    <app-favorite-button class="pull-xs-right" [article]="article">
      {{ article.favoritesCount }}
    </app-favorite-button>
  </div>

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      @for (tag of article.tagList; track tag) {
        <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
      }
    </ul>
  </a>
</div>
